@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  font-family: "Inter", -apple-system, BlinkMacSystemFont, segoe ui, Roboto,
    Helvetica, Arial, sans-serif, apple color emoji, segoe ui emoji,
    segoe ui symbol;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

section {
  max-height: 100vh;
  max-width: 1440px;
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.content {
  max-height: 100vh;
  height: 100%;
  padding: 0 100px;
  margin: auto;
  display: grid;
  align-items: center;
  align-content: center;
  gap: 5%;
}

.hello {
  font-size: 32px;
}

.emoji {
  display: inline-block;
  background-size: contain;
  vertical-align: text-top;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url("../img/waving_hand.png");
  cursor: pointer;
  padding: 18px;
}

.waving_hand {
  margin: 2px 10px;
  background-image: url("../img/waving_hand.png");
}

.waving_hand:hover {
  animation-name: tada;
  animation-duration: 2s;
}

.sometext {
  font-size: 40px;
  line-height: 60px;
  font-weight: 500;
}

@media (max-width: 553px) {
  .sometext {
    font-size: 35px;
    line-height: 50px;
  }
}

@media (max-width: 470px) {
  .sometext {
    font-size: 30px;
    line-height: 45px;
  }
}

.sometext a {
  padding: 0 5px;
}

.contact {
  display: inline;
  font-weight: 500;
  font-size: 20px;
}

.contact a {
  padding: 5px;
}

.contact:hover .envelope {
  animation-name: tada;
  animation-duration: 2s;
}

.envelope {
  margin: -2px 10px;
  padding: 14px;
  background-image: url("../img/envelope.png");
}

.social {
  font-size: 30px;
}

.social i {
  padding: 0 20px 0 0;
}

@media (prefers-color-scheme: light) {
  body {
    background-color: #fff;
    color: #000;
  }

  a {
    color: #000;
  }

  .sometext a {
    box-shadow: inset 0 -3px 0 0 #000;
    transition: color 0.2s, box-shadow 0.2s;
  }

  .sometext a:hover {
    color: #fff;
    box-shadow: inset 0 -45px 0 0 #000;
  }

  .contact a {
    transition: color 0.2s, box-shadow 0.2s;
    box-shadow: inset 0 -2px 0 0 #000;
  }

  .contact a:hover {
    color: #fff;
    box-shadow: inset 0 -32px 0 0 #000;
  }

  .social a {
    transition: color 0.2s;
  }

  .social a:hover {
    color: #464b53;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #16171b;
    color: #fff;
  }

  a {
    color: #fff;
  }

  .sometext a {
    box-shadow: inset 0 -3px 0 0 #fff;
    transition: color 0.2s, box-shadow 0.2s;
    padding: 0 5px;
  }

  .sometext a:hover {
    color: #16171b;
    box-shadow: inset 0 -45px 0 0 #fff;
  }

  .contact {
    color: #dddddd;
  }

  .contact a {
    color: #dddddd;
    transition: color 0.2s, box-shadow 0.2s;
    box-shadow: inset 0 -2px 0 0 #fff;
  }

  .contact a:hover {
    color: #16171b;
    box-shadow: inset 0 -32px 0 0 #fff;
  }

  .social a {
    color: #fff;
    transition: color 0.2s;
  }

  .social a:hover {
    color: #c7c7c7;
  }
}
